{% extends 'base/base.html' %}
{% load static %}
<title>Main</title>

{% block 'body' %}
<div class="d-flex h-100 text-center text-white index">
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'videos/bg.mp4' %}" type="video/mp4">
    </video>
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column transparent main-content">
        <main class="px-3">
          <h2>Welcome to the Military Soldiers Tracking and Notification System</h2>
          <p class="lead">Manage personnel, track deployments, and keep families informed.</p>
        </main>
    </div>
</div>
{% endblock %}

