{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ view_title }}{% endblock %}
{% load crispy_forms_tags %}

{% block 'body' %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">{{ view_title }}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <button type="submit" class="btn btn-success me-md-2">Save</button>
                            <a href="{% url 'unit_home' %}" class="btn btn-outline-light">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}